workflow/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "ARIA Daily Task Planner",
        "formDescription": "Enter your tasks for today and ARIA will prioritize, research, and build your perfect daily schedule.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Tasks",
              "fieldType": "textarea",
              "placeholder": "e.g. Finish report, Email professor, Study for exam",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Name",
              "placeholder": "e.g. John, Taylor",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Email",
              "fieldType": "email",
              "placeholder": "e.g. john@email.com",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "a2a0919a-3c1f-4b0a-ba0b-599a98c09930",
      "name": "On form submission",
      "webhookId": "1ec471b6-bd0c-4b91-9b22-e1ff17ec8c1a"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        220
      ],
      "id": "ecfe36d2-9f33-4217-b18d-d33a2db78f87",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fxHR4EXYbcurbmC5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On form submission').item.json['Your Email'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        400
      ],
      "id": "95d0af84-de13-4e14-9c9b-d6ff9f5efd70",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are ARIA, an Adaptive Routine Intelligence Assistant. You are the controller agent responsible for orchestrating a personal productivity system.\n\nYou have received the following information from the user:\n\nName: {{ $('On form submission').item.json['Your Name'] }}\nEmail: {{ $('On form submission').item.json['Your Email'] }}\nTasks for today: {{ $('On form submission').item.json['Your Tasks'] }}\n\nYour job is to:\n1. Acknowledge the tasks submitted\n2. Break down each task into clear, actionable items\n3. Identify which tasks need research or background information\n4. Identify the urgency and importance of each task\n5. Pass this structured analysis to the next agents for prioritization and scheduling\n\nBe concise, structured, and professional. Output your analysis in a clear format.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "350cf3b5-665a-4450-82f0-c57c2fa83723",
      "name": "Controller Agent"
    },
    {
      "parameters": {
        "description": "Analyzes a list of tasks and scores each one based on cognitive load - how much mental energy it requires. Input should be a comma-separated list of tasks. Returns a score from 1-10 for each task and an overall daily load rating.",
        "jsCode": "const tasks = query.split(',').map(t => t.trim());\n\nconst highLoadKeywords = ['research', 'write', 'study', 'analyze', 'create', 'design', 'plan', 'develop', 'finish', 'complete', 'exam', 'assignment', 'presentation']; \nconst mediumLoadKeywords = ['review', 'update', 'prepare', 'organize', 'schedule', 'meet', 'call', 'read']; \nconst urgencyKeywords = ['urgent', 'asap', 'today', 'due', 'deadline', 'immediately'];\n\nconst results = tasks.map(task => {\n  let score = 3;\n  const taskLower = task.toLowerCase();\n\n  highLoadKeywords.forEach(k => { if(taskLower.includes(k)) score += 2; });\n  mediumLoadKeywords.forEach(k => { if(taskLower.includes(k)) score += 1; });\n  urgencyKeywords.forEach(k => { if(taskLower.includes(k)) score += 1; });\n\n\n  score = Math.min(score, 10);\n  \n  const level = score >= 8 ? '🔴 High' : score >= 5 ? '🟡 Medium' : '🟢 Low';\n  return `${task}: ${score}/10 (${level} cognitive load)`;\n\n\n});\n\n\nconst avgScore = results.reduce((sum, r) => sum + parseInt(r.split(':')[1]), 0) / results.length;\n\nconst dailyLoad = avgScore >= 7 ? 'HIGH - Schedule demanding tasks in the morning' : avgScore >= 4 ? 'MODERATE - Balance your day evenly' : 'LOW - Good day for creative work';\n\n\nreturn `COGNITIVE LOAD ANALYSIS:\\n${results.join('\\n')}\\n\\nOverall Daily Load: ${dailyLoad}`;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        440,
        220
      ],
      "id": "a9025a62-0e63-4665-bd01-844c7574d38f",
      "name": "Cognitive Load Scorer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        220
      ],
      "id": "a6dcd2de-4b14-4c11-8b06-357f8b930c99",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fxHR4EXYbcurbmC5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On form submission').item.json['Your Email'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        740,
        400
      ],
      "id": "686812f4-7b3a-47ec-a9af-258dbd477c22",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Prioritization Agent for ARIA. You receive a task analysis from the Controller Agent and your job is to prioritize tasks using the Eisenhower Matrix.\n\nHere is the analysis from the Controller Agent:\n{{ $('Controller Agent').item.json.output }}\n\nCategorize each task into one of these four quadrants:\n1. 🔴 DO FIRST - Urgent + Important\n2. 🟡 SCHEDULE - Not Urgent + Important  \n3. 🔵 DELEGATE - Urgent + Not Important\n4. ⚪ ELIMINATE - Not Urgent + Not Important\n\nThen provide a recommended order to tackle tasks today with time estimates for each.\n\nBe concise and structured.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        580,
        0
      ],
      "id": "70d52e00-b10d-41ca-bd4d-b9c0633ff945",
      "name": "Prioritization Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        280
      ],
      "id": "0164ddf4-b827-4a18-b7ce-0f00570281e2",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "fxHR4EXYbcurbmC5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On form submission').item.json['Your Email'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1000,
        240
      ],
      "id": "0065f953-44f2-4c5f-b8a5-cee082412c17",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Research Agent for ARIA. You receive a prioritized task list and your job is to find helpful information for the high priority tasks.\n\nHere is the prioritized task list:\n{{ $('Prioritization Agent').item.json.output }}\n\nFor each 🔴 DO FIRST task:\n1. Search for relevant tips, techniques or resources\n2. Find the most actionable and practical information\n3. Summarize findings in 2-3 bullet points per task\n\nKeep your research concise and directly applicable to the task at hand. Focus on quality over quantity.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        940,
        0
      ],
      "id": "907221ca-31be-4d1f-8157-4a41ec601f94",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1100,
        220
      ],
      "id": "5e459a6f-bca5-4d34-9cc7-740b240b3820",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "erVcgs9ZyNuCthFH",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "mridula.mahendran@gmail.com",
        "toEmail": "={{ $('On form submission').item.json['Your Email'] }}",
        "subject": "=🌟 ARIA Daily Briefing - {{ $('On form submission').item.json['Your Name'] }}",
        "html": "={{ $('Email Formatter').item.json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1520,
        0
      ],
      "id": "6e1ba455-dc38-4ff7-b24e-23c69ccd2452",
      "name": "Send Email",
      "webhookId": "e1a10ca4-f42f-4489-a702-97b7a427434a",
      "credentials": {
        "smtp": {
          "id": "62R0n27guZYU4nc8",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const controllerOutput = $('Controller Agent').item.json.output || '';\nconst prioritizationOutput = $('Prioritization Agent').item.json.output || '';\nconst researchOutput = $('Research Agent').item.json.output || '';\n\nfunction markdownToHtml(text) {\n  return text\n    .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.*?)\\*/g, '<em>$1</em>')\n    .replace(/\\n---\\n/g, '<hr>')\n    .replace(/\\n\\n/g, '</p><p>')\n    .replace(/\\n/g, '<br>');\n}\n\nconst html = `\n<div style=\"font-family: Arial, sans-serif; max-width: 700px; margin: 0 auto; padding: 20px;\">\n  <h1 style=\"color: #4A90E2;\">🤖 Good morning, ${$('On form submission').item.json['Your Name']}!</h1>\n  <p style=\"color: #666;\">Here is your personalized ARIA daily briefing.</p>\n\n  <div style=\"background: #f8f9fa; border-left: 4px solid #4A90E2; padding: 15px; margin: 20px 0;\">\n    <h2 style=\"color: #333;\">📊 Task Analysis</h2>\n    <p>${markdownToHtml(controllerOutput)}</p>\n  </div>\n\n  <div style=\"background: #fff3f3; border-left: 4px solid #E74C3C; padding: 15px; margin: 20px 0;\">\n    <h2 style=\"color: #333;\">🔴 Prioritized Tasks</h2>\n    <p>${markdownToHtml(prioritizationOutput)}</p>\n  </div>\n\n  <div style=\"background: #f0fff4; border-left: 4px solid #27AE60; padding: 15px; margin: 20px 0;\">\n    <h2 style=\"color: #333;\">🔍 Research Findings</h2>\n    <p>${markdownToHtml(researchOutput)}</p>\n  </div>\n\n  <p style=\"color: #888; font-size: 12px; margin-top: 30px;\">Have a productive day! 🚀<br><em>Sent by ARIA - Your Adaptive Routine Intelligence Assistant</em></p>\n</div>\n`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ],
      "id": "d57dc656-7651-467b-99ca-4637ad6d8626",
      "name": "Email Formatter"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Controller Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Controller Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Controller Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Cognitive Load Scorer": {
      "ai_tool": [
        [
          {
            "node": "Controller Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Controller Agent": {
      "main": [
        [
          {
            "node": "Prioritization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Prioritization Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Prioritization Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Prioritization Agent": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Email Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Formatter": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "702ef90b-1ea7-4158-a681-8dda9ffd0997",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8684394eb0d3c2e2b2c9de5ea7ee7b3cfdee0a0a3ed4b35b8bb92fe5af090d5"
  },
  "id": "mqOzVjS0Z1yLdhXg",
  "tags": []
}